[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
structlog = "*"
simple-plugin-loader = "*"
aiohttp = "*"
pyserial = "*"
asyncudp = "*"
sondehub = "*"
pyserial-asyncio = "*"

[dev-packages]

[requires]
python_version = "3.12"
